@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap");

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
$text-color: #333;
$color-blue: #007bff;
$color-indigo: #6610f2;
$color-purple: #6f42c1;
$color-pink: #e83e8c;
$color-red: #dc3545;
$color-orange: #fd7e14;
$color-yellow: #ffc107;
$color-green: #28a745;
$color-teal: #20c997;
$color-cyan: #17a2b8;
$color-white: #fff;
$color-gray: #868e96;
$color-gray-dark: #343a40;
$color-light: #f8f9fa;

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

li {
  list-style: none;
}
button {
  cursor: pointer;
}
body {
  // background: $black-primary;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.1px;
  line-height: 28px;
  font-size: 1.4rem;
  font-weight: normal;
  font-style: normal;
  color: $text-color;
  overflow-x: hidden;
}
