@import "../../sass/_base.scss";

.screenshot {
  h2 {
    font-size: 3.4rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5rem;
  }
  padding: 12rem 0;
  max-width: 1200px !important;
  margin: 0 auto;

  &__imgContainer {
    padding: 0;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }

    img {
      width: 100%;
      height: 50rem;
      object-fit: contain;
      padding: 0;
    }
  }
}

.slick-dots {
  bottom: -5rem;

  li button::before {
    font-family: "slick";
    font-size: 2rem;
    line-height: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 3rem;
    height: 3rem;
    content: "o";
    text-align: center;
    opacity: 0.75;
    color: $color-blue;
    -webkit-font-smoothing: antialiased;
  }
  li.slick-active button::before {
    content: "•";
    font-family: "slick";
    font-size: 1.2rem;
    line-height: 2rem;
    position: absolute;
    top: 4px;
    left: 4px;
    width: 2rem;
    height: 2rem;
    text-align: center;
    opacity: 0.75;
    color: $color-blue;
    -webkit-font-smoothing: antialiased;
  }
}
